{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}

<style>
pre {
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}
</style>
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-server fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div id="node_count" class="huge">{{ nodes }}</div>
                            <div>Nodes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-object-group fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div id="group_count" class="huge">{{ groups }}</div>
                            <div>Groups</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-microchip fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ processes.running }}</div>
                            <div>Running Processes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-microchip fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ processes.not_running }}</div>
                            <div>Stopped Processes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-file-text-o fa-fw"></i> Node Logs
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <pre>
                    [Node One]: Server started
                    [Node One]: Process PName was started successfully
                    [Node Two]: Server started
                </pre>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-clock-o"></i> Activity Feed</div>
            <div class="panel-body panel-activity-feed">
                {% for event in system_event_view_transformer.list %}
                {% if forloop.counter <= 5 %}
                <div class="activity-feed">
                    <div class="activity-feed-icon"><i class="fa fa-rss"></i></div>
                    <div class="activity-feed-content">
                        <div class="activity-feed-user">{{ event.username }}</div>
                        <div class="activity-feed-description">{{ event.description }}</div>
                        <div class="activity-feed-time">{{ event.created }}</div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% endblock content %}


{% block extrajs %}

<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock extrajs %}